In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv(('/Users/benjaminmason/Desktop/Study/Project 03_Team 2/0_SS/Resourcse/Dataset.csv'), low_memory=False)
df.head()

,B_HashedKey,B_FullName,B_ShortName,B_StreetAddress,B_Suburb,B_PostCode,B_State,B_Geocode,B_Longitude,B_Latitude,...,FS_ProposedNLPD,FS_UTC_ProposedCompletionDate,FS_LOCAL_ProposedCompletionDate,FS_ProposedReasonForAssessment,FS_ProposedControlCapacity,FS_CurrentNLPD,FS_CurrentControlCapacity,FS_PerformanceComment,CRT_BuildingNla,CRT_NumberOfLevels
0,3292694929379159574,"1 Thynne Street, Bruce, ACT, 2617",NaN,1 Thynne Street,Bruce,2617,ACT,GAACT714853532,149.093585,-35.240431,...,NaN,NaN,NaN,NaN,NaN,6.4,Good,NaN,5848.0,3.0
1,3292694929379159574,"1 Thynne Street, Bruce, ACT, 2617",NaN,1 Thynne Street,Bruce,2617,ACT,GAACT714853532,149.093585,-35.240431,...,NaN,NaN,NaN,NaN,NaN,6.4,Good,NaN,5848.0,3.0
2,3292694929379159574,"1 Thynne Street, Bruce, ACT, 2617",NaN,1 Thynne Street,Bruce,2617,ACT,GAACT714853532,149.093585,-35.240431,...,NaN,NaN,NaN,NaN,NaN,5.5,Moderate,NaN,5848.0,3.0
3,3292694929379159574,"1 Thynne Street, Bruce, ACT, 2617",NaN,1 Thynne Street,Bruce,2617,ACT,GAACT714853532,149.093585,-35.240431,...,NaN,NaN,NaN,NaN,NaN,5.5,Moderate,NaN,5848.0,3.0
4,3292694929379159574,"1 Thynne Street, Bruce, ACT, 2617",NaN,1 Thynne Street,Bruce,2617,ACT,GAACT714853532,149.093585,-35.240431,...,NaN,NaN,NaN,NaN,NaN,6.0,Moderate,NaN,5848.0,3.0

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204749 entries, 0 to 204748
Data columns (total 62 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   B_HashedKey                         204749 non-null  int64
 1   B_FullName                          204749 non-null  object
 2   B_ShortName                         142420 non-null  object
 3   B_StreetAddress                     204749 non-null  object
 4   B_Suburb                            204749 non-null  object
 5   B_PostCode                          204749 non-null  int64
 6   B_State                             204749 non-null  object
 7   B_Geocode                           202042 non-null  object
 8   B_Longitude                         196305 non-null  float64
 9   B_Latitude                          196305 non-null  float64
 10  CRT_HashedKey                       204749 non-null  int64
 11  CRT_Name                            204749 non-null  object
 12  CRT_AssessorName                    204749 non-null  object
 13  CRT_CertificateNumber               202014 non-null  object
 14  CRT_UTC_IssueDate                   201978 non-null  object
 15  CRT_LOCAL_IssueDate                 201978 non-null  object
 16  CRT_UTC_CurrentTo                   201978 non-null  object
 17  CRT_LOCAL_CurrentTo                 201978 non-null  object
 18  CRT_Scope                           61940 non-null   object
 19  CRT_Purpose                         177333 non-null  object
 20  CRT_UTC_SubmissionDate              177333 non-null  object
 21  CRT_LOCAL_SubmissionDate            177333 non-null  object
 22  CRT_Comment                         7001 non-null    object
 23  CRT_Nabers_ReferenceNumber          204749 non-null  object
 24  CRT_Nabers_StarRating               204749 non-null  float64
 25  CRT_Nabers_RatedArea                204749 non-null  float64
 26  CRT_Nabers_RatedHours               204749 non-null  float64
 27  CRT_Nabers_RatingScope              204749 non-null  object
 28  CRT_Nabers_CertifiedDate            204749 non-null  object
 29  CRT_LOCAL_Nabers_CertifiedDate      204749 non-null  object
 30  CRT_Nabers_CurrentTo                204749 non-null  object
 31  CRT_LOCAL_Nabers_CurrentTo          204749 non-null  object
 32  CRT_Nabers_AnnualEmissions          204749 non-null  float64
 33  CRT_Nabers_AnnualEmissionIntensity  204749 non-null  float64
 34  CRT_Nabers_AnnualConsumption        204749 non-null  float64
 35  CRT_Nabers_OwnerName                204749 non-null  object
 36  TLA_HashedKey                       204749 non-null  int64
 37  TLA_Name                            204749 non-null  object
 38  TLA_AssessorName                    204749 non-null  object
 39  TLA_UTC_SubmittedDate               204749 non-null  object
 40  TLA_LOCAL_SubmittedDate             204749 non-null  object
 41  TLA_Number                          204349 non-null  object
 42  TLA_Status                          204749 non-null  int64
 43  TLA_NetLettableSpace                204749 non-null  float64
 44  TLA_CertifiedDate                   204349 non-null  object
 45  TLA_LOCAL_CertifiedDate             204349 non-null  object
 46  TLA_CertificateExpiry               204349 non-null  object
 47  TLA_AssessmentScope                 204749 non-null  object
 48  FS_HashedKey                        204749 non-null  int64
 49  FS_Name                             204744 non-null  object
 50  FS_Level                            204744 non-null  float64
 51  FS_NLA                              204740 non-null  float64
 52  FS_ProposedNLPD                     343 non-null     float64
 53  FS_UTC_ProposedCompletionDate       342 non-null     object
 54  FS_LOCAL_ProposedCompletionDate     342 non-null     object
 55  FS_ProposedReasonForAssessment      343 non-null     object
 56  FS_ProposedControlCapacity          343 non-null     object
 57  FS_CurrentNLPD                      183586 non-null  float64
 58  FS_CurrentControlCapacity           185260 non-null  object
 59  FS_PerformanceComment               36306 non-null   object
 60  CRT_BuildingNla                     142807 non-null  float64
 61  CRT_NumberOfLevels                  142807 non-null  float64
dtypes: float64(15), int64(6), object(41)
memory usage: 96.9+ MB

In [43]:
#Filter out columns that are not needed for charting / mapping amd create new DF 
Building_df = df.drop(columns=[
    'B_Geocode',
    'B_ShortName',
    'CRT_Name',
	'CRT_AssessorName',
	'CRT_CertificateNumber',
	'CRT_UTC_IssueDate',
	'CRT_LOCAL_IssueDate',
	'CRT_UTC_CurrentTo',
	'CRT_LOCAL_CurrentTo',
	'CRT_Scope',
	'CRT_Purpose',
	'CRT_UTC_SubmissionDate',
	'CRT_LOCAL_SubmissionDate',
	'CRT_Comment',
	'CRT_Nabers_CertifiedDate',
	'CRT_LOCAL_Nabers_CertifiedDate',
	'CRT_Nabers_CurrentTo',
	'CRT_LOCAL_Nabers_CurrentTo',
	'TLA_HashedKey',
	'TLA_UTC_SubmittedDate',
	'TLA_LOCAL_SubmittedDate',
	'TLA_Number',
	'TLA_Status',
	'TLA_CertifiedDate',
	'TLA_LOCAL_CertifiedDate',
	'TLA_CertificateExpiry',
	'TLA_AssessmentScope',
	'FS_HashedKey',
	'FS_ProposedNLPD',
	'FS_UTC_ProposedCompletionDate',
	'FS_LOCAL_ProposedCompletionDate',
	'FS_ProposedReasonForAssessment',
	'FS_ProposedControlCapacity',
	'FS_CurrentNLPD',
	'FS_CurrentControlCapacity',
	'FS_PerformanceComment'])
Building_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204749 entries, 0 to 204748
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   B_HashedKey                         204749 non-null  int64
 1   B_FullName                          204749 non-null  object
 2   B_StreetAddress                     204749 non-null  object
 3   B_Suburb                            204749 non-null  object
 4   B_PostCode                          204749 non-null  int64
 5   B_State                             204749 non-null  object
 6   B_Longitude                         196305 non-null  float64
 7   B_Latitude                          196305 non-null  float64
 8   CRT_HashedKey                       204749 non-null  int64
 9   CRT_Nabers_ReferenceNumber          204749 non-null  object
 10  CRT_Nabers_StarRating               204749 non-null  float64
 11  CRT_Nabers_RatedArea                204749 non-null  float64
 12  CRT_Nabers_RatedHours               204749 non-null  float64
 13  CRT_Nabers_RatingScope              204749 non-null  object
 14  CRT_Nabers_AnnualEmissions          204749 non-null  float64
 15  CRT_Nabers_AnnualEmissionIntensity  204749 non-null  float64
 16  CRT_Nabers_AnnualConsumption        204749 non-null  float64
 17  CRT_Nabers_OwnerName                204749 non-null  object
 18  TLA_Name                            204749 non-null  object
 19  TLA_AssessorName                    204749 non-null  object
 20  TLA_NetLettableSpace                204749 non-null  float64
 21  FS_Name                             204744 non-null  object
 22  FS_Level                            204744 non-null  float64
 23  FS_NLA                              204740 non-null  float64
 24  CRT_BuildingNla                     142807 non-null  float64
 25  CRT_NumberOfLevels                  142807 non-null  float64
dtypes: float64(13), int64(3), object(10)
memory usage: 40.6+ MB

In [44]:
# Filter out entries that do not have Longitude & Latitude for mapping

Building_df.dropna(subset=['B_Longitude', 'B_Latitude'], inplace=True)
#Building_df.head()
Building_df.shape

(196305, 26)

In [45]:
#Filter out buidlings and limit to Victoria 

Building_df = Building_df[(df.B_State == "VIC")]
Building_df.shape

/var/folders/tv/cy275wtn0cvd2ffs_m0xklcw0000gn/T/ipykernel_48078/3955160735.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Building_df = Building_df[(df.B_State == "VIC")]

(40843, 26)

In [46]:
Building_df.insert(8, "B_Location", True)
Building_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40843 entries, 48 to 204748
Data columns (total 27 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   B_HashedKey                         40843 non-null  int64
 1   B_FullName                          40843 non-null  object
 2   B_StreetAddress                     40843 non-null  object
 3   B_Suburb                            40843 non-null  object
 4   B_PostCode                          40843 non-null  int64
 5   B_State                             40843 non-null  object
 6   B_Longitude                         40843 non-null  float64
 7   B_Latitude                          40843 non-null  float64
 8   B_Location                          40843 non-null  bool
 9   CRT_HashedKey                       40843 non-null  int64
 10  CRT_Nabers_ReferenceNumber          40843 non-null  object
 11  CRT_Nabers_StarRating               40843 non-null  float64
 12  CRT_Nabers_RatedArea                40843 non-null  float64
 13  CRT_Nabers_RatedHours               40843 non-null  float64
 14  CRT_Nabers_RatingScope              40843 non-null  object
 15  CRT_Nabers_AnnualEmissions          40843 non-null  float64
 16  CRT_Nabers_AnnualEmissionIntensity  40843 non-null  float64
 17  CRT_Nabers_AnnualConsumption        40843 non-null  float64
 18  CRT_Nabers_OwnerName                40843 non-null  object
 19  TLA_Name                            40843 non-null  object
 20  TLA_AssessorName                    40843 non-null  object
 21  TLA_NetLettableSpace                40843 non-null  float64
 22  FS_Name                             40842 non-null  object
 23  FS_Level                            40842 non-null  float64
 24  FS_NLA                              40838 non-null  float64
 25  CRT_BuildingNla                     28093 non-null  float64
 26  CRT_NumberOfLevels                  28093 non-null  float64
dtypes: bool(1), float64(13), int64(3), object(10)
memory usage: 8.5+ MB

In [48]:
Building_df_Location = pd.concat([Building_df['B_Longitude'], Building_df['B_Latitude']])
Building_df_Location.head()

48    145.146133
49    145.146133
50    145.146133
51    145.146133
52    145.146133
dtype: float64

In [ ]:
#Save Building_df to csv file

Building_df.to_csv('ETL_Dataset.csv', index = False)

In [ ]:
# Import the dependencies.
import sqlite3
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from pathlib import Path
from sqlalchemy import create_engine, text
import matplotlib.pyplot as plt

In [ ]:
Base = declarative_base()
conn = sqlite3.connect('Buildings.sqlite')
cursor = conn.cursor()

In [ ]:
cursor.execute('''DROP TABLE Building''')

In [ ]:
Base = declarative_base()
class Buidling(Base):
    __tablename__ = 'Building'
    B_HashedKey = Column(String, primary_key=True)
    B_FullName = Column(Float) 
    B_ShortName = Column(Float)
    B_StreetAddress = Column(Float) 
    B_Suburb = Column(Float)
    B_PostCode = Column(Float)
    B_State = Column(Float) 
    B_Geocode = Column(Float) 
    B_Longitude = Column(Float)
    B_Latitude = Column(Float)
    CRT_HashedKey = Column(Float) 
    CRT_Nabers_ReferenceNumber = Column(Float)
    CRT_Nabers_StarRating = Column(Float) 
    CRT_Nabers_RatedArea = Column(Float)
    CRT_Nabers_RatedHours = Column(Float) 
    CRT_Nabers_RatingScope = Column(Float)
    CRT_Nabers_AnnualEmissions = Column(Float) 
    CRT_Nabers_AnnualEmissionIntensity = Column(Float)
    CRT_Nabers_AnnualConsumption = Column(Float) 
    CRT_Nabers_OwnerName = Column(Float)
    TLA_Name = Column(Float)
    TLA_AssessorName = Column(Float)
    TLA_NetLettableSpace = Column(Float)
    FS_Name = Column(Float)
    FS_Level = Column(Float) 
    FS_NLA = Column(Float) 
    CRT_BuildingNla = Column(Float)
    CRT_NumberOfLevels = Column(Float)

In [ ]:
#Building_ETL.to_sql('Building', conn, if_exists='append', index = False)

In [ ]:
cursor.execute('''SELECT * FROM Building''').fetchall()

In [ ]:
PostCode = Building_ETL['B_PostCode'].unique()
print(PostCode)

In [ ]:
StarRating = data['CRT_Nabers_StarRating'].unique()
print(StarRating)

In [ ]:
OwnsersName = data['CRT_Nabers_OwnerName'].unique()
print(OwnsersName)

In [ ]:
# Print the building name, postcode, emmissions, and nla
# of all cities that have 5 starts.
five_query = text("SELECT * FROM building WHERE CRT_Nabers_StarRating = 6.0;")
five_data = engine.execute(five_query)
for record in five_data:
    print(record)

In [ ]:
# Query Using a Filter
star_query = text("SELECT B_FullName, B_Longitude, B_Latitude, CRT_Nabers_StarRating, CRT_Nabers_RatedArea, CRT_Nabers_RatedHours, CRT_Nabers_AnnualEmissions, CRT_Nabers_AnnualEmissionIntensity, CRT_Nabers_AnnualConsumption FROM building WHERE CRT_Nabers_StarRating = 6.0;")
star_data = engine.execute(star_query) 
for record in star_data:
  print(record)